$fontSize: 20px;
$button-background-color: green;
$button-font-color: white;
$text-font-color: red;

.hello-world-button{
    font-size: $fontSize;
    padding: 7px 15px;
    background: $button-background-color;
    color: $button-font-color;
    outline: none;
}

.hello-world-text{
    color: $text-font-color;
    font-weight: bold;
}